@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#e6e6e6;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {

  font-size: 15px;
  font-weight: bold;
}

ul {
  list-style: none;
}

ul li::before {
  /* https://www.toptal.com/designers/htmlarrows/symbols/ */
  list-style: none;
  content: "☵";
  color:#eb5c29;
  margin:1px;
}

Row {
  margin: auto;

}

.card-title {
  color:#eb5c29;
  font-family: 'Poiret One', cursive;
  font-size: 22px;
  text-decoration: NONE;;
}

.card-footer {
  text-decoration: NONE;
  font-size: 10px;
}

.card-tech {
  font-family: 'PT Sans', sans-serif;
  font-size:12px;
  color:#aeaeae
}

.card-desc {
  font-size:12px;
 min-height: 70px;

}

.card-img {
  height:100%;
}

.txt_header {
  font-family: 'Anek Bangla', sans-serif;
  font-size: 40px;
  color:#efefef
}

 .font_IBM {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 40px;
 }

 .font_Tajawal {
  font-family: 'Tajawal', sans-serif;
  font-size: 40px;
  color:#ffffff;
  text-align: center;
}

 .White {
  color:#ffffff
 }

 .Orange {
  color:#eb5c29;
 }

 .size_30 {
  font-size: 30px;
 }

 .height_30 {
  height: 300px;
 }

 .idx_sections_header {
  font-family: 'Tajawal', sans-serif;
  font-size: 40px;
  color:#ffffff;
  text-align: center;
  background-color: #ef7c02;
  align-items: center;
  padding:30px 0px 30px 0px;
  margin:30px 0px 30px 0px;
 }

 .idx_sections_subheader {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: 'Tajawal', sans-serif;
  font-size: 20px;
  color:#ffffff;
  text-align: center;
  max-height: 100%;
  line-height: 20px;;
 }