$theme-colors: (
    "card-bg": #191919,
    "card-title": #eb5c29,
    "card-desc": #ebebeb,
    "card-footer":red,
);
$card-title: #eb5c29;
$primary:#00997d;

@import "./node_modules/bootstrap/scss/bootstrap";
